//CSS Principal 
     
//Fontes da Página
$sourceSansPro: 'Source Sans Pro', sans-serif;


// Paleta de Cores da Página 
$fundoLateral:#f3f5f6;
$fontePadrao:#666666;
$fonteEscura:#1C2B36;
$bordaClara:#e6e6e6;
$bordaEscura:#cccccc;
$azulPadrao: #45cfff;


body {
    background-color:$fundoLateral;
    font-family: $sourceSansPro;
    font-size: 13px;
    color:$fontePadrao;
}

#pesquisarCliente{
    font-family: $sourceSansPro;
    font-size: 18px;
    padding-left:40px;
    color: $fonteEscura !important;
    font-style: oblique;
    border-radius:0px;
    border:1px solid $bordaClara; 
}

#pesquisa{
    background-color: $fundoLateral !important;
    font-style: oblique;
    border-radius:0px;
    border:1px solid $bordaClara;
    border-right:0;
    font-size: 18px;
    cursor: pointer;
}

    .listaClientes li{
        margin-top:20px;
        padding-bottom:20px;
        list-style-type:none;
        border-bottom:1px solid $bordaClara;
    }

    .listaClientes a{
        text-decoration:none;
        color:$fontePadrao;
    }

    .listaClientes p{
        font-weight: bold;
        color: $fonteEscura;
        font-size: 14px;
        margin-bottom:0;
        font-style: oblique;
    }

    .infoCliente{
        margin-top:30px;
    }
    
    .infoCliente li{
        margin-top:10px;
        padding-bottom:10px;
        list-style-type:none;
        border-bottom:1px solid $bordaClara;
    }

    .infoCliente h2{
        font-weight: bolder;
        text-transform: uppercase;
        color: $fonteEscura;
        font-size: 10px;
        margin-bottom:5px;
    }

    .infoCliente p{
        width:90%;
    }

    .perfilCliente a{
        color:$fonteEscura;
        font-size: 24px;
        text-decoration: none;
    }

    .perfilCliente i{
        font-weight: 100;
       margin-top:80px;
       margin-left:50px;
    }

    .perfilCliente p{
        text-align: center;
        padding-top:30px;
    }

    .perfilCliente img{
        border-radius:75px !important;
    }

    .perfilCliente h2{
        text-align:center;
        font-weight: bold;
        color: $fonteEscura;
        font-family: $sourceSansPro;
        font-style:oblique;
        font-size:14px;
     }

     .perfilSubtitle{
        text-align:center;
        color: $fonteEscura;
        font-family: $sourceSansPro;
        font-size:14px;
        padding-top:0px !important;
     }

.content{
    background-color:#ffffff;
    min-height:100%;
    position:absolute;
}

    .content h1{
        font-size: 18px;
        line-height:44px;
        padding-left:30px;
        color:$fonteEscura;
        border-bottom:1px solid $bordaClara;
    }

/*  Abas */
.ui-widget.ui-widget-content{
    border:none !important;
    margin-top:0px;
}

.ui-widget-header{
    border:none;
    border-bottom:1px solid $bordaClara !important;
    background-color: #ffffff;
}

.ui-tabs .ui-tabs-nav li{
    border:none;
    background-color: #ffffff;
    padding: 5px 30px 5px 30px;
    margin-top:-10px;
}

.ui-tabs .ui-tabs-nav li a{
    text-transform: uppercase;
    color: $fontePadrao;
    font-family: $sourceSansPro;
    line-height:36px;
}

.ui-tabs .ui-tabs-nav li a:hover{
    color:$azulPadrao !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{
    border-bottom:3px solid $azulPadrao !important;
    
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a{
    color: $fonteEscura;
    font-weight: bold;
}

.panel-top{
    border-bottom:1px solid $bordaEscura;
}

    .panel-top h3{
        font-weight:400;
        font-family: $sourceSansPro;
        color:$fontePadrao;
        font-size:12px;
    }

    .panel-top p{
        font-weight:bold;
        font-family: $sourceSansPro;
        color:$fonteEscura;
        font-size:16px;
        font-style: oblique;
    }

.module{
    margin-top:50px;
}

    .module form{
        width:100%;
    }

    .module label{
        font-family: $sourceSansPro;
        font-weight:bolder;
        font-size:10px;
        text-transform: uppercase;
    }

    .module input{
        font-family: $sourceSansPro;
        border: none;
        border-bottom: 1px solid $bordaEscura;
        border-radius:0px !important;
    }

    .module select{
        font-family: $sourceSansPro;
        border: none;
        border-bottom: 1px solid $bordaEscura;
        border-radius:0px !important;
        margin-top:-6px;
    }

    .module h2{
        font-weight:bold;
        font-family: $sourceSansPro;
        color:$fonteEscura;
        font-size:15px;
        padding-bottom: 10px;
        font-style: oblique;
    }

    .module p{
        font-family: $sourceSansPro;
        color:$fontePadrao;
        font-size:13px;
        padding-bottom: 10px;
    }

.form-control[readonly] {
    background-color: #ffffff !important;
    opacity: 1;
}

.listaNotas{
    margin-top:10px;
}

table th{
    background-color: $fundoLateral;
    font-family: $sourceSansPro;
    font-size:10px;
    text-transform: uppercase;
}

table td{
    font-family: $sourceSansPro;
    font-size:13px;
}

.btn-clear input{
    cursor: pointer;
    border: 1px solid $bordaEscura;
    border-radius:5px !important;
    font-family: $sourceSansPro;
    font-weight: bold;
    font-size: 13px;
    color: $fonteEscura;
    background-color: #ffffff;
}

.btn-main input{
    cursor: pointer;
    border: 1px solid $azulPadrao;
    border-radius:5px !important;
    font-family: $sourceSansPro;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background-color: $azulPadrao;
}

@media (max-width:767px)  {
    .content{
        position:relative;
    }
 }